<div class="row justify-content-center m-0 p-0">
  <div class="col-4">
    <h4>Reactive Form Demo</h4>
  </div>
</div>
<div class="row justify-content-center m-0 p-0">
  <div class="col-4">
    <form [formGroup]="productForm">
      <div class="row mb-2">
        <label for="product-name">Product</label>
        <select
          class="form-control"
          id="product-name"
          (change)="changeCity($event)"
          formControlName="product"
        >
          <option selected disabled>Select Product</option>
          <option
            *ngFor="let data of productDetailList"
            [value]="data.product.key"
          >
            {{ data?.product?.display_name }}
          </option>
        </select>
      </div>
      <ng-container *ngIf="accessProduct?.touched && accessProduct?.pristine">
        <small class="text-danger">Product is required.</small>
      </ng-container>
      <div class="row mb-2">
        <label for="category">Category</label>
        <select
          class="form-control"
          id="category"
          (change)="changeCategory($event)"
          formControlName="category"
        >
          <option selected disabled>Select Category</option>
          <option *ngFor="let cat of categoryList" [value]="cat.key">
            {{ cat.display_name }}
          </option>
        </select>
      </div>
      <ng-container
        *ngIf="
          accessProduct?.value?.length &&
          accessCategory?.touched &&
          !accessCategory?.value?.length
        "
      >
        <small class="text-danger">Category is required.</small>
      </ng-container>
      <ng-container
        *ngIf="
          !accessProduct?.value?.length &&
          accessCategory?.touched &&
          accessCategory?.pristine
        "
      >
        <small class="text-danger"
          >Please select product field to access category.</small
        >
      </ng-container>
      <div class="row mb-2">
        <label for="sub-category">Sub Category</label>
        <select
          class="form-control"
          id="sub-category"
          (change)="changeSubCategory($event)"
          formControlName="subCategory"
        >
          <option selected disabled>Select Sub-Category</option>
          <option *ngFor="let data of subCategoryList" [value]="data.key">
            {{ data.display_name }}
          </option>
        </select>
      </div>
      <ng-container
        *ngIf="
          !accessSubCategory?.value?.length &&
          accessSubCategory?.touched &&
          !subCatRequired &&
          !accessCategory?.value?.length
        "
      >
        <small class="text-danger"
          >Please select category field to access sub-category.</small
        >
      </ng-container>
      <ng-container *ngIf="subCatRequired && accessSubCategory.touched">
        <small class="text-danger">{{ errorSubCategoryMessage }}</small>
      </ng-container>
      <div class="row mb-2">
        <label for="min-price">Minimum Price</label>
        <input
          type="text"
          class="form-control"
          id="min-price"
          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
          (keyup)="changeMinPrice($event)"
          formControlName="min_price"
          value="{{ commaMinPrice | number }}"
        />
      </div>
      <!-- <ng-container
        *ngIf="accessMinPrice?.errors?.['required'] && accessMinPrice?.touched && accessMinPrice?.pristine && !accessMinPrice?.value?.length"
      > -->
      <ng-container
        *ngIf="accessMinPrice?.errors?.['required'] && accessMinPrice?.touched && !accessMinPrice?.value?.length"
      >
        <small class="text-danger">Min Price is required.</small>
      </ng-container>
      <ng-container
        *ngIf="errorMinPrice?.length && accessMinPrice?.value?.length"
      >
        <small class="text-danger">{{ errorMinPrice }}</small>
      </ng-container>
      <div class="row mb-2">
        <label for="max-discount">Max Discount</label>
        <input
          type="text"
          id="max-discount"
          class="form-control"
          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
          (keyup)="changeMaxDiscount($event)"
          formControlName="max_discount"
          value="{{ commaMaxDiscount | number }}"
        />
      </div>
      <ng-container
        *ngIf="accessMaxDiscount?.errors?.['required'] && accessMaxDiscount?.touched && !accessMaxDiscount?.value?.length"
      >
        <small class="text-danger">Max Discount is required.</small>
      </ng-container>
      <ng-container *ngIf="errorMaxDiscount?.length">
        <small class="text-danger">{{ errorMaxDiscount }}</small>
      </ng-container>
    </form>
    <button
      class="btn btn-warning"
      [disabled]="productForm.invalid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </div>
</div>

<div class="row justify-content-center m-0 p-0" *ngIf="finalProduct">
  <div class="col-4">
    <h5>product : {{ finalProduct?.product }}</h5>
    <h5>category : {{ finalProduct?.category }}</h5>
    <h5>subCategory : {{ finalProduct?.subCategory }}</h5>
    <h5>min_price : {{ finalProduct?.min_price }}</h5>
    <h5>max_discount : {{ finalProduct?.max_discount }}</h5>
  </div>
</div>
